
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 1px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

	line-height: 2;
	
	 margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	
}
@media only screen and (max-width: 768px){ 

}

   
	/*general look of the logo,*/
	h1 {

   	 	font-family: 'cantarellboldoblique';
   	 	font-size: 25px;
		margin-left: 5%;
		color: #72a9ae;
	}
	/*general look of the main links*/
	a.navLink {	
		color: black;
		padding-right: 30px;
		padding-left: 30px;
		text-decoration: none;
	}
	/*general look of the links in the bottom left*/
	a.navLinkt{
		color: white;
		text-decoration: none;
		font-family: 'Dancing Script', cursive;
		font-size: 15px
	}
	/*general look for header 2*/
	h2 {

		font-family: 'Dancing Script', cursive;
		color: #72a9ae;
	}
	/*general look for header 3*/
	h3 {

		font-family: 'Dancing Script', cursive;
		color: #ffffff;
	}
	/*general look for paragraphs*/
	p {
		font-family: 'Dancing Script', cursive;
	}
	/*general look for table*/
	table, td, th {
		border-collapse: collapse;
		border: 1px solid black;
		font-family: 'Dancing Script', cursive;
		text-align:center;
	}
	/*create the colour of even set of rows*/
	tr:nth-child(even) {
		background-color: #efefef;
	}
	/*general look for input bars*/
	input {
		float: right;
		margin-right: 45%;
	}
	/*general look for selection bar*/
	select {
		float: right;
		margin-right: 45%;
		width: 175px;
	}
	/*general look for info fonts*/
	strong{
		font-family: 'Dancing Script', cursive;
	}
	/*box of navigation*/
	.navigation {
		width: 100%;
		height: 35px;
		background-color: #72a9ae ;
		padding-top: 0.5%;
		text-align: left;
		font-size: 16px;
		margin: 4px 2px;
		opacity: 0.6;
		transition: 0.3s;
	}
	/*navigation in hover setting*/
	.navigation:hover {opacity: 1}
	/*placement of the image*/
	.image {
		float: right;
		padding: 10px;
	}

	/*box of the main header*/
	.mainHeader {
		width: 100%;
		padding-bottom: 10%;
		background-image: url("../img/leaves.png");
	}
	/*box for the paragraph*/
	.paragraph {
		padding-left: 5%;
		padding-right: 5%;
	}
	/*box for the info section*/
	.infoSection {
		width: 80%;
		height: 440px;
		margin: auto;
	}
	/*box for the info options*/
	.infoOpt {
		width: 40%;
		height: 440px;
		float: left;
		text-align: left;
	}
	/*placement of info example*/
	.infoEx {
		height: 400px;
		width: 300px;
		background-color: #ffffff;
		float: left;
		text-align: center;

		box-shadow: 0 5px 10px 5px lightgrey, 0 5px 10px 5px lightgrey;
	}
	/*box for footer*/
	.footer {
		width: 100% ;
		height: 255px ;
		background-color: #454545;
	}
	/*box for bottom header*/
	.botHeader {
		width: 100%;
		height: 255px;
		margin: auto;
		padding: 10px;
	}
	/*box for links and infos on the footer*/
	.foot {
		float: left;
		width: 30%;
		color: #ffffff;
	}

	/*I forgot to make it into mobile format and found out too late, so I choose to not do due to the big change in a limited time*/

		
 